/**
 * 変数まとめ
 */

/*--------------------------------------
  フォント
--------------------------------------*/
@mixin titleFonts($weight) {
  font-weight: $weight;
  font-family: -apple-system,
               'Kosugi Maru';
}

@mixin siteDescriptionFonts() {
  font-family: 'Meiryo UI',
               'メイリオ',
                Meiryo,
                -apple-system,
                BlinkMacSystemFont,
               'Helvetica Neue',
               'Hiragino Sans',
               'Hiragino Kaku Gothic ProN',
                sans-serif;
}

@mixin standardFonts() {
  font-family: 'Kosugi Maru',
               'Noto Sans CJK JP Regular',
               'Meiryo UI',
               'メイリオ',
               'Meiryo',
               'ヒラギノ角ゴ ProN',
               'Hiragino Kaku Gothic ProN',
               'ＭＳ Ｐゴシック',
               'MS PGothic',
               'sans-serif' !important;
}

@mixin monospacedFonts() {
  font-family: 'Roboto Mono',
               'BIZ UDゴシック',
                Consolas,
               'メイリオ',
                Meiryo,
               'ヒラギノ角ゴ ProN',
               'Hiragino Kaku Gothic ProN',
               'ＭＳ ゴシック',
               'MS Gothic',
                sans-serif;
}

// Webフォントを除外
@mixin amp-titleFonts($weight) {
  font-weight: $weight;
  font-family: -apple-system,
               'Meiryo UI';
}

@mixin amp-siteDescriptionFonts() {
  font-family: 'Meiryo UI',
               'メイリオ',
                Meiryo,
                -apple-system,
                BlinkMacSystemFont,
               'Helvetica Neue',
               'Hiragino Sans',
               'Hiragino Kaku Gothic ProN',
                sans-serif;
}

@mixin amp-standardFonts() {
  font-family: 'Meiryo UI',
               'メイリオ',
               'Meiryo',
               'ヒラギノ角ゴ ProN',
               'Hiragino Kaku Gothic ProN',
               'ＭＳ Ｐゴシック',
               'MS PGothic',
               'sans-serif' !important;
}

@mixin amp-monospacedFonts() {
  font-family: Consolas,
              'BIZ UDゴシック',
              'メイリオ',
               Meiryo,
              'ヒラギノ角ゴ ProN',
              'Hiragino Kaku Gothic ProN',
              'ＭＳ ゴシック',
              'MS Gothic',
               sans-serif;
}

/*--------------------------------------
  色
--------------------------------------*/
$char-white: #f0f0f0;
$char-red  : #d32f2f;
$char-blue : darkblue;
$char-green: #009130;

@function themeBlue($density) {
  @return rgba(29, 138, 255, $density);
}

@function highlightBlue($density) {
  @return rgba(10, 33, 230, $density);
}

@function bodyBeige($density) {
  @return rgba(250, 250, 250, $density);
}

@function charBlack($density) {
  @return rgba(5, 5, 5, $density);
}

@function btnBlack($density) {
  @return rgba(0, 0, 0, $density);
}

@mixin linkColors($default: highlightBlue(.9),
                  $visited: $char-green) {
  text-decoration: none !important;

  a {
    &:link { // 未訪問
      color: $default;
      font-style: normal;
      text-decoration: none !important;
    }

    &:visited {
      color: $visited;
    }

    &:hover {
      color: highlightBlue(1);
      font-weight: bold;
    }
  }
}

/*--------------------------------------
  サイズ
--------------------------------------*/
$module-radius: .8rem;
$side-margin  :  1rem;

/*--------------------------------------
  パーツ
--------------------------------------*/
@mixin categoryBtns($padding, $radius) {
  padding: $padding 1rem;
  border-radius : $radius;
  vertical-align: bottom;

  @include standardFonts();
  color  : bodyBeige(1);
  background: themeBlue(.8);

  &:last-child {
    margin-right: 0;
  }
}

@mixin labels($color,
              $font-size: .85em) {
  margin :  auto .4rem auto 0;
  padding: .4rem;
  border-radius: .3rem;

  background: $color;
  color     : white;
  text-align: center;
  font-size : $font-size;
}

@mixin kaerebaLinkBtns() {
  /* ボタン化 */
  a {
    width          :  30%;
    border-radius  : .5rem;
    display        : inline-block;
    margin         : .5rem .2rem 0 0;
    padding        :  1rem .1rem;
    text-align     : center;
  /*  float                : left; */
    text-decoration: none;
    font-weight    : 800;
    font-size      : 1.2rem;
    color          : #fff !important;
  }

}

@mixin kaerebaShopBtn($shop-color) {
  margin: 0 auto !important;

  a {
    width: 100%;

    color : $shop-color !important;
    border: 1px solid $shop-color !important;

    &:hover {
      color: $char-white !important;
      text-shadow: none;

      background: $shop-color;
      border: 1px solid charBlack(1) !important;
    }

    &:active {
      position: relative;
      top     : .1rem;
    }
  }

  img { display: none; }
}

@mixin lightenImgs($opacity) {
  &:hover {
    opacity: $opacity;
    transition-duration: 0.3s;
  }
}

@mixin extendImgs {
  &:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
  }
}

@mixin linkBelowCards() {
  margin-bottom: 0 !important;
  min-width: 10rem;

  &+a {
    display: block;
    margin-top: 0;

    width: 100%;
    min-width: 10rem;

    font-size  :  .8em;
    line-height: 1.6em;
    text-decoration: none;

    &:before {
      margin-left : .4rem;
      margin-right: .8rem;
      content: ">>";

      font-weight: bold;
    }
  }
}

@mixin footnoteParts() {
  position: relative;
  top: -.4em;

  font-size  : .84em;
  font-weight: bold;
}

@mixin shareBtns($width, $height) {
  .color-share-btns {
    margin: 1em 0 1.2em;
    display: flex;
    justify-content: space-between;

    .share-btn-item {
      width : $width;
      height: $height;
      border-radius: .4rem;

      color: #fff;
      font-size  : 1.6rem;
      text-align : center;
      line-height: $height;

      transition : all .3s;

      &:hover {
        transform: translateY(.4rem);
        box-shadow: 0 0 #333;
      }
    }

    @include shareBtnColors();
  }
}

@mixin sumModuleHeaders() {
  display: block;
  clear  : right;

  margin : 1.6rem auto .4rem;
  padding:  .2rem .6rem 0;
  background: btnBlack(.04);

  color: charBlack(.9);
  font-size: 1.1em;
}

@mixin followBtns($icon-size, $area-width) {
  .color-share-btns {
    display: flex;
    margin : 0.8em auto;
    max-width: $area-width;
    justify-content: space-between;

    a {
      padding: 0 !important;
    }

    .share-btn-item {
      overflow: hidden;

      width : $icon-size; // トリミング
      height: $icon-size; // トリミング

      /* 円形にする */
      $circle: 50%;
      border-radius: $circle;
      img {
        margin : 0;
        padding: 0 0 .4rem; // 画像の中心を合わせる
        vertical-align: middle;
        border-radius: $circle;
      }

      box-shadow: none !important;

      color: #fff;
      font-size  : 1.2em;
      text-align : center;
      line-height: $icon-size;

      transition : all .3s;

      &:hover {
        transform:scale(1.1, 1.1);
        box-shadow: 0 0 #333;
      }
    }

    @include shareBtnColors();
  }
}

@mixin iconFont_($body, $shadow) {
  background: $body;
  box-shadow: 0 .4rem $shadow;
}

@mixin iconImage_($shadow) {
  box-shadow: 0 .4rem $shadow;
}

@mixin shareBtnColors() {
  .tumblr {
    @include iconFont_($body  : #35465c,
                       $shadow: #010101);
  }

  .facebook {
    @include iconFont_($body  : #1778F2,
                       $shadow: #1366ce);
  }

  .twitter {
    @include iconFont_($body  : #1BA1F3,
                       $shadow: #1280c3);
  }

  .hatebu {
    @include iconFont_($body  : #00A4DE,
                       $shadow: #038ebf);
  }

  .pocket {
    @include iconFont_($body  : #EF4155,
                       $shadow: #c3293b);
  }

  .feedly { // 画像
    @include iconImage_($shadow: #176b2c);
  }

  .rss {
    @include iconFont_($body  : #f26522,
                       $shadow: #9e531d);
  }

  .hateblo {
    @include iconFont_($body  : #dfdfdf,
                       $shadow: #515151);
    color: #000;
  }

  .github {
    @include iconFont_($body  : #fafafa,
                       $shadow: #989898);
    color: #333;
  }

  .amazon {
    @include iconFont_($body  : #ff9900,
                       $shadow: #8a5300);
  }

  .coconala { // 画像
    @include iconImage_($shadow: #989898);
  }
}
