@import "../../shared/scss/sanitize";
@import "./responsive";
@import "../../shared/scss/variables";

/*--------------------------------------
  ブログ全体のレイアウト
--------------------------------------*/
html {
  font-size: 62.5% !important; // -> 10px
}

/* ページ全体 */
body {
  margin: 0 auto;
  width : 100%;

  background: rgba(1, 1, 1, .1);
  font-size : 1.4rem;
  @include standardFonts();
}

/* ヘッダー */
/* https://hitsuzi.hatenablog.com/entry/minimalism */
#blog-title {
  width: 100%;
  margin : 0 auto;
  padding: 2rem 3rem;

  @include titleFonts(bold);
  background: themeBlue(1) !important;

  box-shadow: 0 .5rem .3rem -.1rem btnBlack(.3); // 下方向のみ
}

/* ブログタイトル */
#title a {
  color: $char-white !important;
}

/* ブログ説明 */
#blog-description {
  color: $char-white !important;
  @include siteDescriptionFonts();
}

/* ナビゲーション */
#gnav {
  display: flex;
  padding: 0;
  border : 0;

  background: themeBlue(.3);

  .gnav-inner {
    height : 100%;
    padding: 0;
    margin : 0;

    .menu {
      width: calc(100% / 8);
      min-width: 11.6rem;

      margin : 0 auto .5rem;
      padding: .8rem  .4rem .6rem !important;

      background: themeBlue(.1);

      box-shadow  : 0 .4rem btnBlack(.3);
      border-left : 1px solid btnBlack(.3);
      border-right: 1px solid btnBlack(.3);
      border-bottom-left-radius : .3rem;
      border-bottom-right-radius: .3rem;

      a {
        vertical-align: middle;
      }

      // .hidden-list {
      //   display: none;
      // }

      transition : all .25s;
      &:hover {
        // transform: scale(1.2, 1.2);
        transform: translateY(.4rem);
        box-shadow: 0 0 #333;

        // .hidden-list {
        //   display: block;
        //   overflow: visible;
        // }
      }
      .content {
        margin : 0 auto;
        padding: 1rem;
        width : 75rem;
        height: 20rem;
        box-sizing: border-box;
        background: #eee;

        text-align: left;
      }
    }
  }
}


/**
 * 階層化（ホバーで子要素を表示）
 *
 * HTMLとCSSだけでできるドロップダウンメニューの作り方 | Public Constructor
 * https://public-constructor.com/html-css-dropdown-menu/
 */
// .dropdown {
//   display: flex;
// }

// .menu-new {
//   width: 300px;
//   text-align: center;
// }

// .menu-title {
//   background: #090032;
//   color: #ffffff;
// }

// .sub-menu {
//   display: none;
//   background: #B9B9B9;
//   position: relative;
// }

// .sub-menu > ul {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   width: 300px;
// }

// .sub-menu > ul > li > a {
//   text-decoration: none;
//   color: #ffffff;
// }

// .menu-new:hover .sub-menu {
//   display: inline-block;
// }

#top-box {
  font-size: 1.4rem;
}

/* パンくずリスト */
#breadcrumb div {
  display  : inline;
}

.breadcrumb {
  margin       : .1rem 0 !important;
  width        : 100%;
  padding      : 1rem;
  border-radius: $module-radius;

  @include linkColors();

  .breadcrumb-innner {
    margin : 0 !important;
    padding: 0;
  }
}

/* ブログ本体 */
#container {
  margin-bottom: 1rem;
  border       : 0 1px 1px 1px solid rgba(10, 10, 10, .9) !important;
  border-radius: $module-radius;

  background: bodyBeige(.5);

  #container-inner {
    padding: 0 0;
  }
}

/* コンテンツ */
#content {
  margin: 0 auto 1rem;
  width: 88%;
}

/* 記事タイトル */
.entry-inner {
  font-size: 1.8rem;

  header {
    margin-bottom: 0;
    padding      : 1rem;
    border-top-left-radius : $module-radius;
    border-top-right-radius: $module-radius;
    background: bodyBeige(1);

    .entry-date, .entry-header {
      margin : 0;
      padding: .4rem 1rem 0;
    }

    .entry-categories{
      margin : 0;
      padding: .8rem 0 .4rem;

    }
  }
}

/* 記事フッター */
.entry-footer {
  margin-top   : 0;
}

.entry-footer-section {
  margin-top   : 0;
  margin-bottom: 0;
  padding      : 1rem 1rem 0;

  background: bodyBeige(.7);
}

/* はてなスター */
.hatena-star-container {
  height: 4rem !important;
  margin : 0;
  padding: 0 1rem 1rem;
  background: bodyBeige(.7);

  .hatena-star-add-button {
    margin:  .8rem;
    width : 4.5rem;
    height: 2.8rem;

    transition : all .25s;

    &:hover {
      transform : scale(1.1, 1.1);
      box-shadow: 0 0 #333;
    }
  }
}

/* 記事一覧ページ */
.archive-heading {
  margin-bottom: 1rem;

  font-size  : 2rem !important;
  font-weight: bold;
  font-family: -apple-system, 'Kosugi Maru' !important;
  &:before {
    margin-right: 1rem;

    content: '\f02b'; /* ふせんマーク */
    vertical-align: middle;
    font-family: FontAwesome;
  }

  @at-root header#{&} { /* 親セレクタ（=記事一覧ページ限定） */
    margin-top:    .4rem !important;
    margin-bottom: .4rem !important;
  }
}

.archive-entries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-left: -40px;
  width: 710px;
}

.archive-entry {
  width: 49%;
  min-width: 300px;

  margin : 1rem auto !important;
  padding: 1rem;
  border-radius: .6rem;
  background: bodyBeige(.5);
  box-shadow: 0 0 .2rem .2rem btnBlack(.1);

  @include linkColors(
    $default: charBlack(1),
    $visited: charBlack(1)
  );

  .archive-date {
    margin: 0;

    font-weight: bold;
    time {
      // 効いてないかも
      @include linkColors(
        $default: highlightBlue(.9),
        $visited: charBlack(1)
      );
    }
  }

  .entry-title {
    margin : .4rem 1rem 0 !important;
    padding: 0;

    font-size: 1.6rem !important;
  }

  .categories {
    margin : .4rem .1rem !important;
    padding: .1rem .8rem !important;
    vertical-align: bottom;

    .archive-category-link {
      @include categoryBtns(0, .3rem);
      font-size: .85em;
    }
  }

  .entry-thumb[alt] {
    color    : charBlack(.6);
    font-size: .8em;
  }

  .entry-thumb {
    border: 1px solid btnBlack(.1);
  }

  .archive-entry-body {
    margin-top: 0;
    padding: .4rem;

    .entry-description {
      font-size: .85em;
    }
  }
}

.social-buttons {
  display: none;
}

.entry-footer-html {
  margin :  0;
  padding: 1rem .4rem;

  background: bodyBeige(.1);
  border: 4px solid bodyBeige(.8);

  text-align: center;

  p {
    margin: 2.4rem 1rem 1rem;
    font-size: 1.4rem !important;
  }

  .footer-share-btns {
    @include shareBtns(19%, 3.4rem);

    /* 微調整 */
    .hateblo {
      i {
        font-size  : 2.8rem !important;
        position: relative !important;
        top: .2rem !important;
      }
    }
  }

  .footer-subscription-btns {
    margin-top  : 3rem;
    margin-left : auto;
    margin-right: auto;
    max-width: 50%;

    @include shareBtns(40%, 3.4rem);
  }
}

/* ブログフッター */
#footer{
  padding: 1rem 2rem 2rem;
}

footer {
  margin : 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  .entry-footer-section {
    order: -3;
  }

  .hatena-star-container {
    order: -2;
  }

  .comment-box {
    order: -1;
  }

  // .hatena-star-metadata {
  // }

  // .social-buttons {
  // }

  // .customized-footer {
  // }

  .customized-footer {
    display: flex;
    flex-direction: column-reverse; // 関連記事を下に

    .entry-footer-html {
      border-bottom-left-radius : $module-radius;
      border-bottom-right-radius: $module-radius;
    }
  }

  .entry-footer-modules {
    .hatena-module-related-entries {
      margin : 0;
      margin-top: 1.5rem;
      padding: 1rem;
      border-radius: $module-radius;

      background: bodyBeige(.7);
    }
  }

  .shrbtn a {
    margin : 0;
    padding: 0;
    border-radius: .4rem;
  }

  .comment-box {
    margin-top: 0;
    padding   : 1rem;

    background: bodyBeige(.7);
  }
}

.pager {
  margin-top: 0;
  padding   : 1rem;
  border-radius: $module-radius;

  background: bodyBeige(.7);
  @include linkColors();
}

/* サイドバー（はてなモジュール） */
#box2 {
  margin : 0;
  padding: 0;
}

.hatena-module {
  clear  : both;
  display: block;

  margin : 0 0 .8rem;
  padding: 1rem;
  border-radius: $module-radius;

  font-size: 1.2rem;
  background: bodyBeige(.7);

  .hatena-module-title {
    border-bottom: 2px double themeBlue(1);
  }

  .hatena-module-body {
    @include standardFonts();
    @include linkColors(
      $default: charBlack(.9),
      $visited: charBlack(.9)
    );

    font-size: 1.2rem;

    /* 検索フォーム */
    .search-form {
      padding: .4rem;
      border : 1px solid btnBlack(.1);

      font-size: 1.2rem;

      &:hover {
        border-color: btnBlack(.3);
      }
    }

    /* プロフィール */
    .profile-description {
      @include standardFonts();
      @include linkColors();
      font-size  :  .9em;
      line-height: 1.8em;

      p {
        margin-bottom: .4em;
      }

      ul, ol {
        margin-top : .4rem;
        margin-left: -1rem;

        li {
          margin-top   : .3rem;
          margin-bottom:  0;
          padding-left : .1rem !important;
          font-size: .98em;

          p {
            margin: 0 0 .8em 0;
          }

          ul, ol {
            margin-top: 0;
            padding-left: 2.2em;
          }
        }
      }
    }

    /* アカウント一覧 */
    .follow-blog-btns {
      margin-top: 1.6rem;
      @include followBtns(3.6rem, 70%);

      .accounts-header {
        @include sumModuleHeaders();
      }

      /* 微調整 */
      .hateblo {
        i {
          font-size  : 3.6rem;
          position: relative !important;
          top: .4rem !important;
        }
      }
    }

    .follow-account-btns {
      @include followBtns(3.6rem, 80%);

      .accounts-header {
        @include sumModuleHeaders();
      }

      /* 微調整 */
      .github {
        i {
          font-size: 4.1rem;
          position : relative !important;
          top: -.2rem !important;
        }
      }
    }

    /* このブログについて */
    .module-sub-header {
      @include sumModuleHeaders();
    }

    .page-list {
      display: flex;
      margin : 0 auto;
      padding: 0;

      li {
        width : 50%;
        height: 8rem;
        margin: .4em auto 0;

        list-style: none;
        text-align: center;

        a {
          display: block;
          height : 80%;
          margin : .4rem;
          border-radius: .4rem;

          background: btnBlack(.03);
          border: 1px solid btnBlack(.04);

          color: charBlack(.7);
          font-size: 1.2rem;

          i {
            display: inline-block;
            padding-top   : 1.4rem;
            padding-bottom:  .4rem;

            color: charBlack(.6);
            font-size: 1.8rem;
          }

          .blogicon-private {
            font-size: 2rem;
            padding-top   : 1rem;
            padding-bottom:  .2rem;
          }

          transition : all .25s;
          &:hover {
            transform: translateY(.4rem);
            box-shadow: 0 0 #333;
            color: charBlack(1);
            i {
              color: charBlack(1);
            }
          }
        }
      }
    }


    /* 最新記事など */
    // CSSで区切り線と文字に1pxの影をつけるとかっこいいデザインに！
    // https://naifix.com/smart-shadow/
     .hatena-module-category {
      border: none;
    }

    .hatena-urllist li{
      border-top: none;
      border-bottom: 1px solid btnBlack(.1);
      box-shadow:    0   1px 0 rgba(255, 255, 255,  1);

      ul {
        li{
          border: none;
          box-shadow: none;
        }
      }
    }

    time {
      color  : charBlack(.8);
      @include linkColors($visited: charBlack(1));
      font-weight: bold;
    }

    img[alt] {
      color    : charBlack(.6);
      font-size: .8em;
    }

    img {
      border: 1px solid btnBlack(.1);
    }

    .urllist-title-link {
      display: block;
      font-size  :   1em;
      line-height: 2.2em;
    }

    .urllist-see-more {
      @include linkColors(
        $default: charBlack(1),
        $visited: charBlack(1)
      );
    }

    .hatena-breadcrumb-plus-toggle-button {
      color: charBlack(.5); // 少し明るく
    }
  }
}

/*--------------------------------------
  記事タイトルのデザイン
  https://hitsuzi.hatenablog.com/entry/minimalism
--------------------------------------*/
.entry-date {
  margin : 0;
  padding: 0 2rem;

  @include titleFonts(normal);
  a { padding: .5rem .6rem .5rem 0 !important; }
}

/*
  更新日時表示
  【無料はてなブログ】【カスタマイズ】更新日の表示【Minimalism】【Brooklyn】【反映されない】【時刻を消す】 - 低所得の青色申告個人事業主のブログ
  https://account-it-dentist.hatenablog.com/entry/blog-custom003
*/
.lastmod {
	display: inline;
  margin : 0;
  padding: 0 1rem;

  font-size: 1.5rem;
	text-decoration: none;

  &:before {
    margin-right: 1rem;

    // content: "f02b";
    // font-family: "blogicon-repeat";
    content: "\f021"; /* 更新マーク */
    font-family: FontAwesome;
    font-size: 1.6rem !important;
  }
}

.entry-title {
  margin : 0;
  padding: 0 1rem;

  font-size: 1.2em;
  @include titleFonts(bold);
}

.entry-categories {
  margin    : 0 1rem;
  text-align: left;

  .entry-category-link {
    @include categoryBtns(.2rem, .2rem);
  }
}

/*--------------------------------------
  記事本体のデザイン
--------------------------------------*/
.entry-content {
  margin-top: 0;
  padding   : 1rem 1.6rem;

  background: bodyBeige(.9);

  @include linkColors();

  /*--------------------------------------
    見出し
  --------------------------------------*/
  h3 {
    margin :  4rem 0     3rem;
    padding: .8rem 1rem .3rem;

    background: themeBlue(.1);
    border-left  : 8px solid themeBlue(1);
    border-bottom: 3px solid themeBlue(1);

    font-size: 1.4em;
    color    : charBlack(1);
  }

  h4 {
    margin :  4rem .3rem 3rem;
    padding: .3rem  1rem;

    background: themeBlue(.1);
    border-top   : 2px solid themeBlue(1);
    border-bottom: 2px solid themeBlue(1);

    font-size: 1.32em;
    color    : charBlack(1);
  }

  h5 {
    margin : 3.6rem .4rem 2.6rem;
    padding:  .4rem .6rem;

    border-left: .6rem solid themeBlue(1);

    font-size: 1.26em;
    color    : charBlack(1);
  }

  h6 {
    margin : 3rem 0 2.6rem;

    $border-weight: 2.6px;
    position: relative;
    border-bottom: solid $border-weight btnBlack(.1);

    font-size: 1.2em;

    &:before {
      padding: 0 .2rem;

      content: " ";
    }

    &:after {
      display : block;
      width   : 24%;
      position: absolute;
      bottom  : -$border-weight;
      border-bottom: solid $border-weight themeBlue(1);

      content: " ";
    }
  }

  /*--------------------------------------
    本文のフォント
  --------------------------------------*/
  @include standardFonts();
  font-size  : 1.6rem;
  line-height:   2em;

  color: charBlack(1);

  p {
    margin-bottom: 1.4em;
    margin-left  : $side-margin;
    margin-right : $side-margin;
  }

  b, strong {
    font-size: 1.03em;
  }

  u {
    kbd {
      text-decoration: underline !important;
    }
  }

  s {
    /* グレーアウト */
    color: rgb(148, 148, 148);
    font-style: italic;

    code {
      background: rgb(200, 200, 200);

      color: $char-white !important;
      font-style: italic;
    }

    kbd {
      color: charBlack(.4) !important;
      font-style: italic;
      text-decoration: line-through !important;
    }
  }

  img[alt] {
    color    : charBlack(.5);
    font-size: .8em;
  }

  .hatena-fotolife {
    margin: 1.5rem auto 3rem;

    width : 100%;
    height: auto;
    max-width: 68rem;
    min-width: 10rem;
    overflow-x: scroll; // 効かないかも
    -webkit-overflow-scrolling: touch; /* スマホでも滑らかに */

    @include lightenImgs(.5);
  }

  /* カード形式リンク */
  iframe {
    margin-top: 2rem !important;

    @include lightenImgs(.7);
    @include linkBelowCards();
  }

  /* ツイート・カード */
  // .twitter-tweet {
  //   max-width: 100%;
  // }

  /* リスト */
  ul, ol {
    margin-top : 1rem;
    margin-left:  0;

    li {
      margin-top   : .5em;
      margin-bottom:  0;
      padding-left :  .1em !important;
      font-size: .98em;

      p {
        margin: 0 0 .8em 0;
      }

      ul, ol {
        margin-top: 0;
        padding-left: 1.3em;
      }
    }
  }

  /*--------------------------------------
    目次の表示・非表示
  --------------------------------------*/
  // 「.table-of-contents」にネストすると
  // カーソル（ポインター）やフォントサイズが効かないので逃がしておく…
  .toc-switch{
    display: inline-block;
    cursor : pointer;

    margin-bottom: 0;
    margin-left  : .4rem;
    margin-right : .4rem;
    padding      :  0;

    color: highlightBlue(1);
    font-size: .9em;

    &:hover {
      font-weight: bold;
      @include linkColors(#1e366a);
    }
  }

  /*--------------------------------------
    目次
  --------------------------------------*/
  .table-of-contents { // = ul, ol
    display: none; /* デフォルトで非表示 */

    /* 外枠 */
    margin : .4rem  1rem 0;
    padding:  2rem  5rem;
    border-radius: .5rem;
    border : dotted #1541a1 .16rem;

    /* フォント */
    @include linkColors(#1e366a);
    line-height: 80% !important;

    &:before {
      content : ""; /* スクリプトで文字が追加されてしまうので消しておく */
    }

    /* 中身 */
    li {
      margin-top   : 0 !important;
      margin-bottom: 0 !important;

      font-size: .99em;
    }

    ul, ol {
      margin: 0 !important;
      padding-top   :   .4rem;
      padding-bottom:   .4rem;
      padding-left  : 1.5em;
    }
  }

  /*--------------------------------------
    文字装飾いろいろ
  --------------------------------------*/
  /* 連載目次 */
  .serialized-label { @include labels($char-red,  .85em); }

  /* 各種ラベル */
    .red-label { @include labels($char-red,   .85em); }
   .blue-label { @include labels($char-blue,  .85em); }
  .green-label { @include labels($char-green, .85em); }


  /* 文中の文字 */
  .red   { color: $char-red;   }
  .blue  { color: $char-blue;  }
  .green { color: $char-green; }

  .note {
    font-size  : .8em;
    line-height: 120%;
    color      : $char-red;
  }

  .additional-note {
    font-size  : .8em;
    line-height: 120%;
    color      : $char-red;
    font-weight: bold;
  }

  .small-chars {
    font-size  : .8em;
    line-height: 120%;

    code {
      vertical-align: middle !important;
    }
  }

  .large-chars {
    font-size: 1.2em;
  }

  /*--------------------------------------
    テキストボックス（まとめ、強調など）
  --------------------------------------*/
  .text-box-dashed {
    margin : 1rem calc(1rem + $side-margin);
    padding: 1rem;

    border       : 1px dashed;
    border-radius: .5rem;

    text-align   : center;
  }

  /*--------------------------------------
    <kbd>タグ
  --------------------------------------*/
  kbd {
    @include standardFonts();
  }
  /*
    mac風
    https://coliss.com/articles/build-websites/operation/css/css-apple-keyboard-style-by-nrjmadan.html
  */
  .mac-key {
    /* ----Box Properties---- */
    display      : inline-block;
    padding      : 0.05em 0.6em;
    margin       : 0 .4rem;
    background   : #fff;
    border-radius: .4rem;
    box-shadow   : 0 .1rem .3rem .1rem rgba(0, 0, 0, 0.5);

    /* ----Text Properties---- */
    font-family: Helvetica, serif;
    text-align : center;
    color      : #666;
  }

  /*
    立体ボタン風
    https://saruwakakun.com/html-css/reference/buttons
  */
  .btn-square-emboss {
    display: inline-block;
    margin : 0 .4rem;
    padding: 0.01em 0.6em;

    border-bottom: solid 3px btnBlack(.3);
    border-radius: .4rem;
    box-shadow   : 0 .1rem .3rem -.1rem btnBlack(.5);
    background   : #f0f0f0; /*ボタン色*/

    color    : #666666; /*ボタン色より暗く*/
    font-size: 90%;
    line-height: 1.75em;
    @include monospacedFonts();

    text-decoration: none;
    text-shadow: .1rem .1rem .1rem $char-white; /* 文字色より明るく */

    /*
      テキスト選択はOffに。
      https://its-office.jp/blog/css/2017/04/30/user-select.html
    */
    user-select: none !important;

    &:active  {
      transform    : translateY(.4rem);
      box-shadow   : 0 .1rem 0 btnBlack(.3);
      border-bottom: solid 3px btnBlack(.1);
    }
  }

  /*--------------------------------------
    引用
    CSSで作る！魅力的な引用デザインのサンプル30（blockquote）
    https://saruwakakun.com/html-css/reference/blockquote
  --------------------------------------*/
  li > blockquote {
    padding-top: 1.5rem !important;
  }

  blockquote {
    position  : relative;
    box-sizing: border-box;

    margin : 1.5rem ($side-margin + .6rem);
    padding:  .5rem 1rem .5rem 3.2rem;

    border: 1px solid rgba(204, 204, 204, .5);
    border-radius: .3rem;
    background   : #f3f3f3;

    color: charBlack(.7);

    /* 引用符 */
    &:before{
      display : inline-block;
      position: absolute;
      top   :  1rem;
      left  : -1.5rem;
      width :  4rem;
      height:  3rem;

      text-align : center;
      content    : "\f10d"; // 引用符
      font-family: FontAwesome;
      font-size  : 1.8rem;
      font-weight: 900;
      color      : #FFF;
      line-height: 3rem;

      background: themeBlue(.7);
      box-shadow: 0 .2rem .2rem rgba(26, 26, 26, 0.14);
    }

    /* 折り込み */
    &:after{
      position: absolute;
      top :  4rem;
      left: -1.5rem;

      border: none;
      border-bottom: solid  8px transparent;
      border-right : solid 15px themeBlue(1);

      content: "";
    }

    &:hover {
      border: 1px solid rgba(204, 204, 204, .4);
      background: #fff;
      color: charBlack(.9);
      font-style: normal;
    }

    p {
      position: relative;
      margin : 1rem 0;
      padding: 0;
      z-index: 3;

      line-height: 1.7;
    }

    /* 引用元 */
    cite {
      display: block;
      padding-right: 4rem;

      color: #888888;
      font-size : 0.85em;
      // font-style: italic;
      text-align: right;

      &:before {
        margin-right: .4rem;

        content: ">>";
        font-weight: bold;
      }

      a {
        font-style: italic !important;
      }
    }
  }

  /*--------------------------------------
    翻訳
    CSSで作る！魅力的な引用デザインのサンプル30（blockquote）
    https://saruwakakun.com/html-css/reference/blockquote
  --------------------------------------*/
  .translation {
    position  : relative;
    box-sizing: border-box;

    margin : 1.5rem ($side-margin + .6rem);
    padding:  .5rem 1rem .5rem 3.2rem;

    border: 1px solid rgba(204, 204, 204, .5);
    border-radius: .3rem;
    background   : #f3f3f3;

    color: charBlack(.7);

    /* ラベル */
    &:before{
      display : inline-block;
      position: absolute;

      $height: 1.9em;
      top   :  -.6em;
      left  :  -.6em;
      width :    3em;
      height: $height;

      content    : "意訳";
      font-size  : .8em;
      text-align : center;
      line-height: $height;
      color      : $char-white;

      background: highlightBlue(.8);
      box-shadow: 0 .2rem .2rem .2rem rgba(26, 26, 26, 0.14);
    }

    p {
      position: relative;
      margin : 1rem 0;
      padding: 0;
      z-index: 3;

      line-height: 1.7;
    }
  }

  /*--------------------------------------
    文中のコード
  --------------------------------------*/
  code {
    padding-top  : .1rem;
    border-radius: .3rem;
    border: 1px solid rgba(204, 204, 204, .5);

    color     : black !important;
    background: #dfdbd4; /* 背景 黄みがかったgray */

    font-size: .85em;
    @include   monospacedFonts();
    vertical-align: top !important;
  }

  /*--------------------------------------
    コードブロック
  --------------------------------------*/
  pre[data-lang=""] {
    padding-top: 1rem !important;
  }

  pre.code {
    margin : 1.5rem ($side-margin + .6rem);
    padding: 2rem 1rem 1rem 1rem;
    border-radius: .3rem;

    /* フォント・メインカラーを変更 */
    @include monospacedFonts();
    font-size  :  .85em;
    line-height: 1.5em;
    color      : $char-white;    /* white 文字色 */
    background : charBlack(.85); /* black 背景 */

    overflow-x : scroll !important; // 効かないかも
    white-space: pre    !important; /* 自動改行をoff、インデントは維持 */
    -webkit-overflow-scrolling: touch !important; /* スマホでも滑らかに */

    /* シンタックス・ハイライト */
    .synSpecial    { color: #66FFFF; } /* (明るめの水色) 特殊文字・記号（←変数名とか？） */
    .synType       { color: #66FFFF; } /* (明るめの水色) 型 */
    .synComment    { color: #FF33CC; } /* (ピンク)      コメント */
    .synPreProc    { color: $char-white; } /* White プリプロセッサ */
    .synIdentifier { color: #FFD700; } /* Gold  識別子 */
    .synConstant   { color: #F0E68C; } /* Khaki 定数 */
    .synStatement  { color: #00CCCC; } /* DarkTurquouse ステートメント */

    /*
      左上に言語名を表示
      https://code-life.hatenablog.com/entry/2018/05/22/%E3%81%AF%E3%81%A6%E3%81%AA%E3%83%96%E3%83%AD%E3%82%B0%E3%81%A7%E6%9B%B8%E3%81%84%E3%81%9F%E3%82%B3%E3%83%BC%E3%83%89%E3%83%96%E3%83%AD%E3%83%83%E3%82%AF%E3%81%AB%E8%A1%8C%E7%95%AA%E5%8F%B7%E3%82%92
    */
    &:not([data-lang=""]) { /* 言語の指定がある時のみ */
      &:before {
        display : inline-block;
        position: absolute;

        margin-left: -1.8rem;
        margin-top : -2.5rem;
        padding    :   .2rem 1rem;

        border: 1px solid rgba(204, 204, 204, .5);
        border-radius: .3rem;
        box-shadow   : 0 0 .1rem .1rem charBlack(.2);

        content   : attr(data-lang);
        color     : black;
        background: $char-white;
      }
    }
  }

  /*
    左側に行番号を表示
    https://souiunogaii.hatenablog.com/entry/hatenablog-codeline
  */
  .code-line {
    // display: block;
    counter-increment: linenumber;  /* code-lineクラスの数 */

    &:before {
      display: inline-block;
      width  : 3rem;
      margin-right :  1rem;
      padding-right: .6rem;
      border-right :  1px solid rgba(204, 204, 204, .5);

      text-align: right;
      content: counter(linenumber); /* 擬似要素として行番号を表示 */
      color: rgba(204, 204, 204, 1);
    }

    &:after {
      display: inline-block;
      margin-right: 1em;
      content: ""; /* margin用 */
    }

  }

  /*--------------------------------------
    テーブルの表示
  --------------------------------------*/
  table {
    margin-left : $side-margin;
    margin-right: calc($side-margin + 3rem);

    // はみ出たtableを横スクロールで滑らかに表示するCSS - Qiita
    // https://qiita.com/ymeeto/items/f165576f49f37e28e253
    display: block;

    /* 横スクロール */
    overflow-x: scroll;

    table-layout: auto;
    width : 100% !important;
    height: auto;
    max-width: 94rem;
    min-width: 10rem;

    // /* 縦スクロール */
    // overflow-y: scroll;
    // height: auto;
    // max-height: 98rem;

    white-space: nowrap;               /* 自動改行をoff */
    -webkit-overflow-scrolling: touch !important; /* スマホでも滑らかに */

    border-radius: .3rem;
    border: 1px solid charBlack(.05);
  }

  tbody {
    width: auto !important;
  }

  th {
    // width : auto !important;
    background: charBlack(.03) !important;
    line-height: 1.3em;
  }

  td {
    font-size  :  .9em;
    line-height: 1.8em;
  }


  /*--------------------------------------
    キリトリ線
    CSSだけで実装！区切り線（hrタグ）のデザインサンプル集まとめ：SwitchBox
    https://switch-box.net/css-hr-decorations.html
  --------------------------------------*/
  hr {
    /* 一旦リセット */
    height : 0;
    margin : 0;
    padding: 0;
    border : 0;

    /* キリトリ線 */
    height    : 1em;
    border-top: 1px dashed charBlack(.4);
    text-align: center;
    overflow  : visible;

    &:after {
      display : inline-block;
      position: relative;
      height  :  2em;
      top     : -1em;
      padding : 0 0.5em;

      content    : "\002702"; /* ハサミ記号✂（機種依存？） */
      line-height: 2em;
      color      : charBlack(1);
    }
  }

  .footnote {
    margin :  0;
    padding: .6rem;

    > p {
      margin: 0 .2rem 1rem;
    }

    .footnote-number, .footnote-delimiter {
      @include footnoteParts();
    }
  }
}

/*--------------------------------------
  ヨメレバ・カエレバ（レスポンシブ対応用）
--------------------------------------*/
/* 外枠 */
.booklink-box, .kaerebalink-box {
  margin  :   1rem auto 1rem 0;
  padding : 2.5rem;
  overflow: hidden;
  border  : double #CCC;

  width: 100%;
  max-width: 68rem;
  min-width: 10rem;

  font-size: .85em;

  /* 画像 */
  .booklink-image, .kaerebalink-image {
    float : left;
    margin: 0 1.5rem 0 0;

    width: 100%;
    max-width: 24rem;
    min-width:  8rem;

    text-align: center;

    img {
      margin: 0 auto;
      width : 100%;

      text-align: center;
    }
  }

  /* 商品概要 */
  .booklink-info, .kaerebalink-info {
      margin     : 0;

      overflow   : hidden;
      line-height: 1.2em;
  }

  /* 商品名 */
  .booklink-name, .kaerebalink-name {
      margin-bottom: 2.4rem;

      font-size  :   1em;
      line-height: 1.5em;
  }

  /* "posted with ヨメレバ" */
  .booklink-powered-date {
    margin-top   :   1rem;
    margin-bottom: 1.5rem;

    font-family: verdana;
    font-size  :  .7em;
    line-height: 1.2em;
  }

  /* "posted with カエレバ" */
  .kaerebalink-powered-date {
    margin-top: 1rem;

    font-size  :  .7em;
    font-family: verdana;
    line-height: 1.2em;
  }

  /* 商品説明(?) */
  .booklink-detail {
    font-size: 1.2rem;
  }

  .kaerebalink-detail {
    margin-bottom: 1.5rem;

    font-size: 1.2rem;
  }

  /* ボタンエリア */
  .booklink-link2, .kaerebalink-link1 {
    margin-top: 1rem;

    @include kaerebaLinkBtns();
  }

  /* ------- リンクボタンここから ------- */
  .shoplinkrakuten   { @include kaerebaShopBtn(#c20004); }
  .shoplinkamazon    { @include kaerebaShopBtn(#FF9901); }
  .shoplinkkindle    { @include kaerebaShopBtn(#007dcd); }
  .shoplinkkakakucom { @include kaerebaShopBtn(#314995); }
  .shoplinkyahoo     { @include kaerebaShopBtn(#7b0099); }

  // 追加
  .shoplinkrakukobo  { @include kaerebaShopBtn(#c20004); }
  .shoplinkseven     { @include kaerebaShopBtn(#006e54); }
  .shoplinktoshokan  { @include kaerebaShopBtn(#888e7e); }
  /* ------------ リンクボタンここまで ------------ */

  .booklink-footer   { display: none; }
}

/*--------------------------------------
  コメント欄に「ブログ主」の表示
  https://www.foxism.jp/entry/2017/06/30/193115
--------------------------------------*/
.comment-nickname[data-user-name="yuricks7"]::after{
  display      : inline-block;
  margin       :  0  0 0 .3rem;
  padding      :  0 .3rem;
  border-radius: .2rem;  /* 角丸 */

  content      : 'Author!'; /* 表示する言葉 */
  font-size    :  .65rem;
  line-height  : 1.8;
  color        : $char-white; /* 文字色 */
  background   : #00008b;   /* 背景色 */
}

/*--------------------------------------
  「コメントを書く」ボタンを拡大
  https://blog.minimal-green.com/entry/2016/08/08/210000
--------------------------------------*/
.leave-comment-title {
  cursor: pointer;

  // *zoom  : 1 !important;
  margin : 0 2rem 2rem;
  padding: 1%;
  border-radius: .4rem;

  background-clip : padding-box;
  background: highlightBlue(1);
  box-shadow: 0 .4rem highlightBlue(.5);

  line-height: 2em;
  text-align : center;
  vertical-align: middle;

  color      : $char-white;
  font-size  : 1.6rem;
  font-weight: bold;
  text-decoration: none !important;

  &:before {
    padding-right: .5rem;

    content    : "\f009";
    font-family: "blogicon";
  }

  transition : all .25s;
  &:hover {
    transform : translateY(.4rem);
    background: highlightBlue(1);
    box-shadow: 0 0 #333;

    color: $char-white;
  }
}

/**
 * 追尾する目次
 *
 * 【参考】
 * はてなブログ向けのサイドバーで追尾する目次【ver3】 http://twilyze.hatenablog.jp/entry/sidebar-toc-3
 * https://gist.github.com/Twilyze/30809fa76691983312dced621eb1040a#file-changelog-md
 */

/* モジュール */
#stoc-module {
  backface-visibility: hidden;

  .tracking {
    margin-bottom: 0;
  }

  .fixed {
    position: fixed;
  }

  .absolute {
    position: absolute;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
  }

  @keyframes fadeIn {
      0% {opacity: 0}
    100% {opacity: 1}
  }

  .fade-in {
    animation: fadeIn 300ms;
  }
}

/* コンテンツ */
#stoc {
  overflow-y: auto;

  @include linkColors($default: charBlack(1));

  /* Shadows */
  .shadow {
    background:
      radial-gradient(
        farthest-side at top,    btnBlack(.17), transparent
      ) top / 100% 1.1rem,

      radial-gradient(
        farthest-side at bottom, btnBlack(.17), transparent
      ) bottom / 100% 1.1rem;

    background-repeat    : no-repeat;
    background-attachment: scroll;
  }

  ol {
    margin : 0;
    padding: 0 0 0 1.2em;
    list-style-type: none;
  }

  > ol {
    padding-left: 0;
  }

  /* Shadow covers */
  .shadow > ol {
    background:
      linear-gradient(#fff 30%, transparent) top    / 100% 4rem,
      linear-gradient(#fff 70%, transparent) bottom / 100% 4rem;
    background-repeat    : no-repeat;
    background-attachment: local;
    overflow-y: hidden;
  }

  a {
    display: block;
    padding: .2rem .2rem .2rem .6rem;

    color: charBlack(1) !important;
    text-decoration: none;
  }

  &:not(.touch) a:hover {
    background: btnBlack(.1);

    text-decoration: underline;
  }

  .active {
    background: btnBlack(.07);
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  // スクロールバー
  &::-webkit-scrollbar {
    width: .8rem;
    background: #ececec;
  }

  // 可動部
  &::-webkit-scrollbar-thumb {
    background: #b1b1b1;
  }
}

/**
 * シェアボタン
 *
 * 【参考】
 *  はてなブログのSNSボタンをおしゃれにカスタマイズする方法｜パソコン・ブログガイド
 *  https://www.gipsyjazznyumon.com/hatenablog-social-media-buttons-custmize/
 */
.header-share-btns{
  @include shareBtns(13.5%, 2.4rem);
}

/*--------------------------------------
  フォローボタン
--------------------------------------*/
.hatena-module-body {

  $icon-size: 3.6rem;
  .follow-blog-btns {
    @include followBtns($icon-size, 70%);

    /* 微調整 */
    .hateblo {
      i {
        font-size: $icon-size;
        position : relative !important;
        top: .4rem !important;
      }
    }
  }

  .follow-account-btns {
    @include followBtns($icon-size, 80%);

    /* 微調整 */
    .github {
      i {
        font-size: 4.1rem;
        position : relative !important;
        top: -.2rem !important;
      }
    }
  }
}
