/**
 * レスポンシブ対応
 */

@media (max-width: 1340px) {

  #content {
    margin: 0 auto 10px;
    width : 88%;

    #main {
      margin: 0 auto;
      width : 100%;
    }
  }

  #box2 {
    margin: 0px auto;
    width : 100%;
    max-width: 1340px;
  }
}

@media (max-width: 1138px) {

  #blog-title {
    height    : 140px;
    margin-top:  40px !important;

    #title {
      margin-top: 20px !important;
    }

    #blog-description {
      margin-bottom: 20px !important;
    }
  }
}

@media screen and (max-width: 680px) {
  /* コンテナ */
  #container {
    border-top-left-radius : 0 !important;
    border-top-right-radius: 0 !important;
  }

  /*
    更新日時表示

    【参考】
    【無料はてなブログ】【カスタマイズ】更新日の表示【Minimalism】【Brooklyn】【反映されない】【時刻を消す】 - 低所得の青色申告個人事業主のブログ
    https://account-it-dentist.hatenablog.com/entry/blog-custom003
  */
  .lastmod {
    padding  :  0   !important;
    font-size: 12px !important;
  }

  /* 本文 */
  .entry-content {
    font-size: 14px;
  }

  /* トップページ等の記事カード */
  .archive-entry h1 {
    font-size: 1.6em !important;
  }

  /*--------------------------------------
    テーブルにスクロールバーを付ける

    【参考】
    Shibablog(しばぶろ) - はてなブログでスマホだと表が見切れてしまう時の３つの対策！
    https://www.sibalove.com/entry/hatena-table#%E3%82%B9%E3%82%AF%E3%83%AD%E3%83%BC%E3%83%AB%E3%83%90%E3%83%BC%E3%82%92%E3%81%A4%E3%81%91%E3%82%8B
  --------------------------------------*/
  .table-scroll {
    overflow-x: scroll;
  }

  /*--------------------------------------
    改行をレスポンシブに(?)

    【参考】
    スマホ表示とデスクトップ表示でレスポンシブに改行位置を変える時はbrタグにクラスを付けてcssだけで管理すると超楽な件 | WEMO
    https://wemo.tech/1224
  --------------------------------------*/
  .resp_break{
    display: none;
  }

  /*--------------------------------------
    ヨメレバ・カエレバ（レスポンシブ対応用）
  --------------------------------------*/
  .booklink-box, .kaerebalink-box {
    padding: 15px;
  }

  .booklink-image, .kaerebalink-image {
    width    : 100px !important;
    min-width: initial;
  }

  .booklink-name > a, .kaerebalink-name > a {
    font-size  : 15px;
    font-weight: bold;
  }

  .booklink-name, .kaerebalink-name {
    margin-bottom: 12px;
  }

  .booklink-powered-date, .kaerebalink-powered-date {
    margin-top: 5px;
  }

  .booklink-link2 a, .kaerebalink-link1 a {
    width        : calc(100% - 4px);
    border-radius:  5px;
    margin       :  2px 0px;
    padding      : 10px 0px;
  }
}
