/**
 * 変数まとめ
 */

/*--------------------------------------
  フォント
--------------------------------------*/
@mixin titleFonts($weight) {
  font-family: -apple-system,
               'Kosugi Maru';
  font-weight: $weight;
}

@mixin siteDescriptionFonts() {
  font-family: 'Meiryo UI',
               'メイリオ',
               Meiryo,
               -apple-system,
               BlinkMacSystemFont,
               'Helvetica Neue',
               'Hiragino Sans',
               'Hiragino Kaku Gothic ProN',
               sans-serif;
}

@mixin standardFonts() {
  font-family: 'Kosugi Maru',
               'Noto Sans CJK JP Regular',
               'Meiryo UI',
               'メイリオ',
               'Meiryo',
               'ヒラギノ角ゴ ProN',
               'Hiragino Kaku Gothic ProN',
               'ＭＳ Ｐゴシック',
               'MS PGothic',
               'sans-serif' !important;
}

@mixin monospacedFonts() {
  font-family: 'Roboto Mono',
               Consolas,
               'Meiryo UI',
               'メイリオ',
               Meiryo,
               'ヒラギノ角ゴ ProN',
               'Hiragino Kaku Gothic ProN',
               'ＭＳ Ｐゴシック',
               'MS PGothic',
               sans-serif;
}

/*--------------------------------------
  色
--------------------------------------*/
$char-white: #f0f0f0;
$char-red  : #d32f2f;
@function themeColor($density) {
  @return rgba(29, 138, 255, $density);
}

@function bodyColor($density) {
  @return rgba(250, 250, 250, $density);
}

@function highlighter($density) {
  @return rgba(10, 33, 230, $density);
}

@function charBlack($density) {
  @return rgba(5, 5, 5, $density);
}

@function btnColor($density) {
  @return rgba(0, 0, 0, $density);
}

@mixin linkColors($default: highlighter(.9), $visited: #106d2f) {
  text-decoration: none !important;

  a {
    &:link { /* 未訪問 */
      color: $default;
      font-style:normal;
      text-decoration: none !important;
    }

    &:visited {
      color: $visited;
    }

    &:hover {
      color: highlighter(1);
      font-weight:bold;
    }
  }
}

/*--------------------------------------
  サイズ
--------------------------------------*/
$module-radius: 8px;
$side-margin: 10px;

/*--------------------------------------
  パーツ
--------------------------------------*/
@mixin categoryBtns($radius) {
  padding: 2px 10px;
  border-radius: $radius;

  @include standardFonts();
  color  : bodyColor(1);
  background-color: themeColor(.8);

  &:last-child {
    margin-right: 0;
  }
}

@mixin footnoteParts() {
  font-size   : .85em;
  font-weight : bold;
  vertical-align: top;
}

@mixin kaerebaLinkBtns() {
  /* ボタン化 */
  a {
    width          : 30%;
    border-radius  : 5px;
    display        : inline-block;
    margin         : 5px 2px 0 0;
    padding        : 10px 1px;
    text-align     : center;
  /*  float                : left; */
    text-decoration: none;
    font-weight    : 800;
    // text-shadow    : 1px 1px 1px #dcdcdc;
    font-size      : 12px;
    color          : #fff !important;
  }

}

@mixin kaerebaShopBtn($btn-color) {
  margin: 0 auto !important;

  a {
    width: 100%;

    color : $btn-color !important;
    border: 1px solid $btn-color !important;

    &:hover {
      color: $char-white !important;
      text-shadow: none;

      background-color: $btn-color;
      border: 1px solid charBlack(1) !important;
    }

    &:active {
      position: relative;
      top     : 1px;
    }
  }

  img { display  : none; }
}

@mixin shareBtns($width, $height) {
  .color-share-btns {
    margin: 1em 0 1.2em;
    display: flex;
    justify-content: space-between;

    .share-btn-item {
      width : $width;
      height: $height;
      border-radius: 4px;

      color: #fff;
      font-size  : 16px;
      text-align : center;
      line-height: $height;

      transition : all .3s;

      &:hover {
        transform: translateY(4px);
        box-shadow: 0 0 #333;
      }
    }

    @include shareBtnColors();
  }
}

@mixin followBtns($icon-size, $area-width) {
  .color-share-btns {
    display: flex;
    justify-content: space-between;
    margin: 0.8em auto;
    max-width : $area-width;

    a {
      padding: 0 !important;
    }

    .share-btn-item {
      overflow: hidden;


      width : $icon-size; // トリミング
      height: $icon-size; // トリミング

      /* 円形にする */
      border-radius: 50%;
      img {
        margin : 0;
        padding: 0 0 4px; // 画像の中心を合わせる
        vertical-align: middle;
        border-radius: 50%;
      }

      box-shadow: none !important;

      color: #fff;
      font-size  : 16px;
      text-align : center;
      line-height: $icon-size;

      transition : all .3s;

      &:hover {
        transform:scale(1.1, 1.1);
        box-shadow: 0 0 #333;

        // transform: translateY(4px);
        // box-shadow: 0 0 #333;
      }
    }

    @include shareBtnColors();
  }
}

@mixin shareBtnColors() {
  .tumblr {
    background-color: #35465c;
    box-shadow: 0 4px #010101;
  }

  .facebook {
    background-color: #1778F2;
    box-shadow: 0 4px #1366ce;
  }

  .twitter {
    background-color: #1BA1F3;
    box-shadow: 0 4px #1280c3;
  }

  .hatebu {
    background-color: #00A4DE;
    box-shadow: 0 4px #038ebf;
  }

  .pocket {
    background-color: #EF4155;
    box-shadow: 0 4px #c3293b;
  }

  .feedly { // 画像
    box-shadow: 0 4px #176b2c;
  }

  .rss {
    background-color: #f26522;
    box-shadow: 0 4px #9e531d;
  }

  .hateblo {
    background-color: #dfdfdf;
    box-shadow: 0 4px #515151;

    color: #000;
  }

  .github {
    background-color: #fafafa;
    box-shadow: 0 4px #989898;

    color: #333;
  }

  .amazon {
    background-color: #ff9900;
    box-shadow: 0 4px #8a5300;
  }

  .coconala { // 画像
    box-shadow: 0 4px #989898;
  }
}
