@import "variables";

@mixin standardFonts() {
  font-family: 'M PLUS 1p',
               'Sawarabi Mincho',
               'Noto Sans CJK JP Regular',
               'Meiryo UI',
               'メイリオ',
               'Meiryo',
               'ヒラギノ角ゴ ProN',
               'Hiragino Kaku Gothic ProN',
               'ＭＳ Ｐゴシック',
               'MS PGothic',
               'sans-serif' !important;
}

/* カード形式リンク */
.embed-card {
  margin-bottom: 0 !important;

  &+a {
    text-decoration: none;

    &:before {
      margin-left : 8px;
      margin-right: 8px;
      content: ">>";

      font-weight: bold;
    }

    font-size: .8em;
  }
}

body {
  @include standardFonts();
}

.hatena-module-body {
  @include standardFonts();
  // font-size: .9em;
}

/* プロフィール */
.profile-description {
  @include standardFonts();
  // font-size: .95em;
}

/*--------------------------------------
  本文のフォント
--------------------------------------*/
.entry-content {
  @include standardFonts();
  font-size  : 17px;
  line-height: 1.8em;

  /*--------------------------------------
    目次の表示・非表示ボタン
  --------------------------------------*/
  /* 「.table-of-contents」にネストすると
      カーソル（ポインター）やフォントサイズが効かないので逃がしておく… */
  .show-area {
    display: inline-block;
    cursor : pointer;

    font-size: .8em;

    &:hover {
      font-weight: bold;
    }
  }

  /*--------------------------------------
    目次
  --------------------------------------*/
  .table-of-contents { // = ul, ol
    // display: none; /* デフォルトで非表示 */

    /* 外枠 */
    margin : 4px 10px 0;
    padding: 20px 50px;
    border-radius: 5px;
    border : dotted #1541a1 1.6px;

    &:before {
      content : ""; /* スクリプトで文字が追加されてしまうので消しておく */
    }

    /* 中身 */
    li {
      margin-top   : 0 !important;
      margin-bottom: 0 !important;

      font-size: .98em;
    }

    ul, ol {
      margin: 0 !important;
      padding-top   :  4px;
      padding-bottom:  4px;
      padding-left  : 16px;
    }
  }

  /*--------------------------------------
    テーブルの表示
  --------------------------------------*/
  @function tableBorder($thickness) {
    @return $thickness solid #afb8ca;
  }

  @mixin verticalLines() {
    &:nth-child(2) {
      border-left: tableBorder(2px) !important;
    }

    &:nth-child(3) {
      border-right: tableBorder(2px) !important;
    }
  }

  $table-border: 3px solid #afb8ca;
  table {
    /*
      はみ出たtableを横スクロールで滑らかに表示するCSS - Qiita
      https://qiita.com/ymeeto/items/f165576f49f37e28e253
    */
    display: block;

    /* 横スクロール */
    overflow-x: scroll;
    width: auto;
    max-width: 980px;

    white-space: nowrap;               /* 自動改行をoff */
    -webkit-overflow-scrolling: touch; /* スマホでも滑らかに */

    /* 外枠 */
    border-radius: 3px;
    border: tableBorder(2px);

    font-size: .95em;
  }

  th {
    border: none !important;
    @include verticalLines();
  }

  tr {
    border-bottom: tableBorder(1px);
  }

  td {
    &:nth-child(1) {
      text-align: center;
    }

    @include verticalLines();
  }

  .footnote {
    margin : 0;
    padding: 6px;

    .footnote-number, .footnote-delimiter {
      @include footnoteParts();
    }
  }
}

@media (max-width: 480px) {

  /* 本文 */
  .entry-content {
    font-size: 14px !important;
  }
}
